<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário de Disciplina</title>
</head>
<body>

    <h1 style="text-align: center;">Cadastrar Disciplina</h1>

    <form th:action="@{/disciplinas/salvar}" method="post" th:object="${disciplina}">

        <input type="hidden" th:field="*{idDisciplina}" />
        <br>

        <label>Nome:</label>
        <input type="text" th:field="*{nomeDisciplina}" />
        <br>

        <label>CH:</label>
        <input type="text" th:field="*{chDisciplina}" />
        <br>

        <label>Sigla:</label>
        <input type="text" th:field="*{siglaDisciplina}" />
        <br>

        <input type="submit" value="Salvar" />

    </form>

</body>
</html>